@charset "utf-8";
/* MORE INFO */
#links {
	 width:80%;
	 border: medium solid black;
	 border-radius: 15px;
	 padding:10px;
	 text-align:left;
	 margin: 10px auto;
 }

.org {
	float: left;
	position:relative;
	bottom:10px;
	width: 5vw;
	margin-right: 2%;
}

.nm_cats {
	float:left;
	width:20%;
	margin:2.5%;
	text-align:left;
}

@media screen and (max-width: 850px) {
.nm_cats {
	width:40%;	
	margin: 2% 5%;
}
}

@media screen and (max-width: 600px) {
	.nm_cats{
	width:90%;
	}
	.org{
		width:10vw;
	}
	
}

