@charset "utf-8";
/* Species */

.spec_info {
	width: 28%;
	height: 20vw;
	border-radius: 15px;
	border: medium solid black;
	overflow:hidden;
	float:left;	
	background:rgba(128,128,128,0.70);
	margin:0 1%;
	font-size: 1em;
	/*position:relative;*/
}

.spec_info li {
	text-align:left;
}

.spec_info h3, ul {
	margin:1vw;
}

.spec_info h3 {
	text-align:center;
}

.spec_info img {
	height:100%;
	width:100%;
	-webkit-align-self: center;
    align-self: center;
}

.wrapper {
	width:80%;
	margin:auto;
}

main {
	text-align:left;
}

main h1 {
	text-align:center;
}

aside {
	float: left;
	width: 9vw;
	margin:2vw;
	position:absolute;
	height:40vw;
	overflow:hidden;
}

.spec_nav {
	width:7vw;
	height: 7vw;
	padding:5%;
	display:block;
	position:relative;
}

.spec_nav img {
	width:100%;
}

.hover {
	display:none;
	background-color:rgba(239,56,77,0.7);
	font-family:Bree Serif, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	color:white;
	font-size:1em;
	border-radius:100%;
	text-align:center;
	height:7vw;
	width:7vw;
	position:absolute;
	top:0;
	margin-top:5%;
	padding:30% 0;
	box-sizing: border-box;
}

@media screen and (max-width: 1250px) {
	.spec_info {
		width:22%;	
	}
	
	.spec_info:last-of-type {
		width:46%;
	}
	
}

@media screen and (max-width: 1000px) {
	article {
		width:80%;
		position:relative;
		left: 9vw;
}

.spec_info {
	height:22vw;
}

@media screen and (max-width: 850px) {
 aside {
	 width:100%;
	 height:9vw;
	 background-color:#808080;
	 margin:0 0 10% 0;
	 padding: 1% 0;
 }
 
 article {
	 width:100%;
	 position:static;
 }
 
 
.spec_nav {
	display:inline-block;
	padding:0 5%;	
}
	
main {
	position:relative;
	top:9vw;
}

footer {
	position:relative;
	top:9vw;
}

.hover {
	margin-top: 0%;	
	font-size:70%;
}

.spec_info {
	width: 45%;
	margin: 1%;
}
.spec_info:last-of-type {
		width:98%;
	}
@media screen and (max-width: 600px) {
	.spec_nav {
		width:18%;
		height:9vw;
		margin: 1% auto;
		padding:0;
	}
	
	.hover {
		width:18%;
		height:9vw;
	}
	
	aside {
	height:20vw;
	}
	
	footer{
		top:20vw;
	}
	main {
		top:20vw;
	}
	
	.spec_info {
		width:98%;
		height:40vw;
	}
}