@charset "utf-8";
/* Species */

.spec_info {
	width: 28.5%;
	height: 20vw;
	border-radius: 15px;
	border: medium solid black;
	overflow:hidden;
	float:left;	
	background:rgba(128,128,128,0.70);
	margin:0 2%;
	/*position:relative;*/
}

.spec_info li {
	text-align:left;
}

.spec_info h3, ul {
	margin:1vw;
}

.spec_info h3 {
	text-align:center;
}

.spec_info img {
	height:100%;
	position:relative;
	left: -50%;
}

.wrapper {
	width:80%;
	margin:auto;
}

main {
	text-align:left;
}

main h1 {
	text-align:center;
}

aside {
	float: left;
	width: 9vw;
	margin:2vw;
	position:absolute;
	height:50vw;
	overflow:hidden;
}

.spec_nav {
	width:8.1vw;
	height: 8.1vw;
	padding:5%;
	display:block;
	position:relative;
}

.spec_nav img {
	width:100%;
}

.hover {
	display:none;
	background-color:rgba(239,56,77,0.7);
	font-family:Bree Serif, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	color:white;
	font-size:1em;
	border-radius:100%;
	text-align:center;
	height:8.1vw;
	width:8.1vw;
	position:absolute;
	top:0;
	margin-top:5%;
	padding:30% 0;
	box-sizing: border-box;
}