
body {
	background:#f9e933;
	font-family: 'Droid Sans', sans-serif;
}

.container {
	max-width: 855px;
	margin:auto;
}

header, main, footer {
	min-width:855px;
}

h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
}

a {
	color:red;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

header {
	background:white;
	overflow:auto;
}

header h1 {
	width:570px;
	float:left;
	font-size:xx-large;
	padding: 15px 0px;
}

header nav {
	width:285px;
	float:right;
	font-size: 1em;
	padding:15px 0px;
}

main {
	background:white;
	overflow:auto;
}

main .container {
	padding: 50px 0;	
}

main h2 {
	font-size:x-large;	
	margin:15px 0;
}


main h3 {
	margin:30px 0 15px 0;
}

.tabs a span {
	display:inline-block;
	border-radius: 5px 5px 0 0;
	width:100px;
	margin-right:10px;
	text-align:center;
	background:#FFCE00;
	padding:5px;
}

.tabs a span.active {
	background:#f9e933;
}

.content {
	background:#f9e933;
	min-height:200px;
	padding: 5px;
}

.content ul li {
	background:white;
	padding:2px;
	margin:5px;
	border-radius: 5px;
}

footer {
	clear:both;
	line-height:1.5;
}

footer .contact {
	width:570px;
	float:left;
	margin:30px 0;
}

footer .sitemap {
	width:285px;
	float:right;
	margin:30px 0;
}

footer ul {
	-webkit-columns:75px 2;
	columns:75px 2;
}

footer h5 {
	margin-bottom:10px;
}

.clear {
	clear:both;
}


