
body {
	background:#f9e933;
}

header {
	background:white;
	overflow:auto;
}

header h1 {
	width:570px;
	float:left;
}

header nav {
	width:285px;
	float:right;
}

main {
	background:white;
}

header, main, footer {
	min-width:855px;
}

.container {
	max-width: 855px;
	margin:auto;
}