
body {
	background:#f9e933;
}

.container {
	max-width: 855px;
	margin:auto;
}

header, main, footer {
	min-width:855px;
}

header {
	background:white;
	overflow:auto;
}

header h1 {
	width:570px;
	float:left;
}

header nav {
	width:285px;
	float:right;
}

main {
	background:white;
	overflow:auto;
}

main h2,p,h3,ul {
	width:570px;
	float:left;
}

main img {
	float:right;
	width: 285px;
}

footer {
	clear:both;
}

footer .contact {
	width:570px;
	float:left;
}

footer .sitemap {
	width:285px;
	float:right;
}




